extends layout

block content
  .w3-container
    .w3-card-4        
        header.w3-container.w3-teal
            h2 SPARQL INTERFACE

    form#formData.w3-container(action='/query' name="query" method='GET')
        br
        p
            b Repositório: 
            select(name="repo")
                each r in repos
                    option(value=r)=r

        .w3-card-4(style="position:relative;")
            .w3-row(style="padding:10px;")
                if (idRepository)
                    h3.w3-center.w3-light-grey= idRepository

                .w3-col.s6.w3-white.w3-center(style="border-right:2px dotted gray;padding:10px;position:relative;padding-bottom:50px;")
                    h3(style="text-align:left;") Query

                    textarea.w3-input.w3-border.w3-light-grey(type="text" name='query' rows="12" placeholder="Make a query...")
                    br
                    p(style="text-align:right;position:absolute;bottom:0;right:10px;")
                        input.w3-btn.w3-round.w3-blue-grey(type="submit" value="Send")

                .w3-col.s6.w3-white.w3-center(style="padding:10px;background:gray;")
                    h3(style="text-align:left;") Results
                        if dquery.length > 0
                            #resultado
                                .w3-container.w3-border
                                    each n in dquery
                                        p=JSON.stringify(n)
                        else
                            br
                            h4
                        p(style="text-align:right;position:absolute;bottom:0;right:10px;")
                            button.w3-button.w3-round.w3-blue-grey(onclick="limpar()") Limpar

    br
    br
    footer.w3-container.w3-teal
      address MEI