doctype html
html
  head
    title App
    link(rel='stylesheet', href='/stylesheets/w3.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/ajax.js")
    script(src="/javascripts/jquery.js")
  body
    block content
