extends layout

block content

  div(style="")
    .w3-container
      h1(style="padding:5px 10px;color:#ffffff;border-top:2px solid #333333;border-bottom:2px solid #333333;margin-bottom:30px;") ARQUIVO DE MÚSICA DIGITAL
      table.w3-table-all
        tr
          th(style="background:#000000;color:#ffffff;") Título
          th(style="background:#000000;color:#ffffff;") Partituras
          th(style="background:#000000;color:#ffffff;") ID
        each valor in listaObras
          tr
            td= valor.titulo
            td= valor.numPartituras
            td
                form.form-inline(method="get" action="/" + valor.identificador)
                  button.w3-button.w3-blue(type="submit")=valor.identificador
