doctype html
html
  head
    title App
    link(rel='stylesheet', href='/stylesheets/w3.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/ajax.js")
    script(src="/javascripts/jquery.js")
    style.
        body {
        background:beige;
        }
        h1 {
        background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
        padding:5px 10px;color:#ffffff;border-top:2px solid #333333;border-bottom:2px solid #333333;margin-bottom:30px;
        }
  body
    block content
